<app-navbar></app-navbar>
<app-add-role [editRoleInput]="editRoleInput" ></app-add-role>
<table mat-table class="mat-elavation-z8 w-full p-2 ml-3" [dataSource]="dataSource">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let row;let i=index">{{ i+1 }}</td>
  </ng-container>
  <ng-container matColumnDef="role_name">
    <th mat-header-cell *matHeaderCellDef>Role Name</th>
    <td mat-cell *matCellDef="let row">{{ row.role_name }}</td>
  </ng-container>
  <ng-conatiner matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let row;let i=index" class="space-x-2">
      <a (click)="showRole(row)" class="cursor-pointer"><i class="fa fa-eye text-green-700"></i></a>
      <a (click)="editRole(row)" class="cursor-pointer"><i class="fa fa-pencil text-blue-600"></i></a>
      <a (click)="deleteRole(row)" class="cursor-pointer"><i class="fa fa-trash text-red-700"></i></a>
    </td>
  </ng-conatiner>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

</table>
