<div class="flex w-[1300px] h-[150px] shadow rounded ml-4 mt-2 p-4 bg-blue-300" >
  <div class="flex flex-col">
    <form action="" #addTest="ngForm" (ngSubmit)="saveTest(addTest)">
      <h2>Test List</h2>
      <div class="grid grid-cols-7 gap-1">
        <div class="flex flex-col">
          <label for="">Test Name</label>
          <input type="text" name="test_name" id="" #test_name="ngModel" [(ngModel)]="testData.test_name" class="w-full p-2 shadow rounded">
        </div>
        <div class="flex flex-col">
          <label for="">Minimun Value</label>
          <input type="number" name="normal_min" id="" #normal_min="ngModel" [(ngModel)]="testData.normal_min" class="w-full p-2 shadow rounded">
        </div>
        <div class="flex flex-col">
          <label for="">Maximum Value</label>
          <input type="number" name="normal_max" id="" #normal_max="ngModel" [(ngModel)]="testData.normal_max" class="w-full p-2 shadow rounded">
        </div>
        <div class="flex flex-col">
          <label for="">Unit</label>
          <mat-form-field appearance="outline">
            <mat-select name="unit_id" #unit_id="ngModel" [(ngModel)]="testData.unit_id">
              <mat-option [value]="0">Select Unit</mat-option>
              <mat-option value="1">mg/dl</mat-option>
              <mat-option value="2">mcg/dL</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <label for="">Price</label>
          <input type="text" name="price" id="" #price="ngModel" [(ngModel)]="testData.price" class="w-full p-2 shadow rounded">
        </div>
        <div class="flex flex-col">
          <label for="">Description</label>
          <input type="text" name="description" id="" #description="ngModel" [(ngModel)]="testData.description" class="w-full p-2 shadow rounded">
        </div>
        <div class="flex items-center">
          <button type="submit" class="w-full p-2 bg-blue-600 shadow rounded mb-4 ml-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
