/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-infix {
  padding: 6px 0 !important;
  min-height: 36px !important;
}

.mat-form-field-flex {
  min-height: 36px !important;
}

